<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6 side-batman">
			<%= link_to 'Página de Batman', pages_batman_path, :class=>'btn btn-info'  %>"
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6 side-superman">
			<%= link_to 'Página de Superman', pages_superman_path, :class=>'btn btn-danger'  %>"
		</div>
	</div>
</div>